body {
    background-color: hsl(0, 0%, 98%);
}

* {
    margin: 5px;
}

#root {
    height: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins;
    color: hsl(234, 12%, 34%);
}

.intro-div {
    max-width: 525px;
    text-align: center;
}

.tagline {
    font-weight: 200;
}

p {
    font-weight: 200;
}

.colors {
color: hsl(234, 12%, 34%);
color: hsl(229, 6%, 66%), #a3a5ae ;
color: hsl(0, 0%, 98%);
}
